@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


:root {
    --bg-color: #0c1022;
    --second-bg-color: #1f242d;
    --text-color: #fff;
    --main-color: rgb(232, 24, 107);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a::after {
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(45deg, #3cf, #f06);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navbar a:hover::after {
    width: 100%;
}


.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}


.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10% 0;
}


.home-content {
    max-width: 500px;
    margin-left: -10px;
    margin-top: 3%;

}


.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}


.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    background: linear-gradient(30deg, #f06, #3cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-content p {
    font-size: 1.6rem;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.3s;
    margin-bottom: 15px;
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.5s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(10px);
    transition: .5s ease;
}

.btn:hover::before {
    background-position: 100% 0;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    transition: .5s ease;
}

.btn:hover::after {
    background-position: 100% 0;
}


.home-img {
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2.1s, 3.1s;

}

.home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}


.glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
    animation: circleRotate 4s linear infinite;
}


.glowing-circle span:nth-child(1) {
    filter: blur(15px);
}

.glowing-circle .image {
    position: relative;
    width: 380px;
    height: 382px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;

}

.image img {
    position: absolute;
    left: 50%;
    padding-bottom: 100px;
    transform: translateX(-50%);
    max-width: 450px;
    object-fit: cover;

}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    /* border: .2rem solid var(--main-color); */
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    font-size: 2rem;
    color: #fff;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    z-index: 1;
}

.social-media a:nth-child(1) {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.social-media a:nth-child(2) {
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 1.5s;
}

.social-media a:nth-child(3) {
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 1.5s
}

.social-media a:nth-child(4) {
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s
}

.social-media a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}


.social-media a:hover::before {
    filter: blur(10px);
}


.social-media a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}

.social-media a:hover::after {
    transform: scale(0);
}


/* KEYFRAMES ANIMATION */
@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slidetop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}



/*------------------- about----------------------- */



/* -------------------About------------------- */



body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #11162a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    width: 100%;
    align-items: center;
}

.profile-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideRight 3s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s
}

.profile-image img {
    width: 400px;
    height: 500px;
    margin-top: 12%;
    margin-left: -20%;
}

.about-content {
    flex: 2;
}

.about-content h1 {
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 5px;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 1.5s
}

.about-content h2 {
    font-size: 30px;
    margin-bottom: 30px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s
}

.about-content p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s
}

.services h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    font-size: 40px;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 1.5s
}


.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}


.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);

}

.services-box {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

.services-box i {
    font-size: 6rem;
    background: linear-gradient(45deg, #3cf, #f06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.services-box h3 {
    font-size: 2.6rem;
    margin-bottom: 8%;

}


.services-box p {
    font-size: 1.2rem;
    margin: 1rem 0 3rem;
}



/* ==================portfolio============ */


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #11162a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-container {
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
}

h4 {
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 600;
    margin-top: 5%;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 1.5s
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.grid img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(51, 204, 255, 0.674), rgba(255, 20, 102, 0.447), rgba(51, 204, 255, 0.309));
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
    text-align: center;
    justify-content: center;
    opacity: 0;
    /* transform: translateY(100%); */
    transition: .5s ease;
}

.grid-item:hover .overlay {
    /* transform: translateY(0); */
    opacity: 1;
}

.overlay h5 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;

}

.overlay p {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;

}

.overlay i {
    font-size: 27px;
    background: #fff;
    color: #121212;
    padding: 10px;
    border-radius: 50%;
    margin-top: 10px;
}



/* ===================contact============= */




.contact-form {
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(72, 69, 69, 0.3);
    width: 700px;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 1s;
    
}

.contact-form h1 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 1s;
    
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #334155;
    border-radius: 5px;
    background-color: #1e293b;
    color: #fff;
    font-size: 14px;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background:linear-gradient(45deg, #0ea5e9, #f06) ;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 2.1s, 3.1s;
    
}

.submit-btn:hover {
    background: linear-gradient(45deg, rgba(51, 204, 255, 0.4), rgba(255, 0, 102, 0.429));
}




